.upvote{
color: aquamarine;
background-color: rgb(111, 155, 194);
}
div[id="myid"] p{
    color: green;
}
p a{
    color: rgb(103, 103, 174);
}
.post a{
    color: purple;
    background-color: burlywood;
}
nav ul li a{
    color: rgb(193, 142, 167);
}
button:hover{
    background-color: black;
    color: rgb(204, 166, 166);
}
h3:hover{
    text-decoration:line-through;
}
button:active{
    background-color: pink;
}
#login{
    background-color: white;
}
#signup{
    background-color: azure;
}
p:active{
    font-weight: bold;
    color: greenyellow;
}
input[type="radio"]:checked + label{
    color: red;
    font-weight: bold;
}
div:nth-of-type(2){
    background-color: blanchedalmond;
}
h1::first-letter{
    color: aqua; 
}
p::first-line{
    color: beige;
}
p::selection{
    color: darkgrey;
}
h3{
    background-color: yellow;
}
h3{
    background-color: blue;
}